<IfModule mod_rewrite.c>
    RewriteEngine On
    # Pass Authorization Header to PHP
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
