@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", "Inter", ui-sans-serif, system-ui;
  --font-display: "Playfair Display", "Cormorant Garamond", serif;
  
  --color-brand-dark: #07041B;
  --color-brand-blue: #3B82F6;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-dark: #07041B;
  --bg-darker: #04020f;
}

* {
  font-family: var(--font-sans);
}

body {


  overflow-x: clip;
}

/* Hide Custom Scrollbar entirely */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.hero-img {
  transition: transform 0.6s ease;
}
.hero-wave:hover .hero-img {
  transform: scale(1.04) translateY(-10px);
}
.fillText {
  -webkit-text-stroke: 1px white;
  color: transparent;
  background: linear-gradient(90deg, white 50%, transparent 50%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

.override-overflow {
  overflow-x: visible !important; /* بدون clip */
}

/* Custom Loader Styles */
.custom-loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.custom-loader:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #3b82f6;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.custom-loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #3b82f633, -35px 50px 0 #3b82f633, -70px 95px 0 #3b82f633;
  animation: loading-step 1s ease-in-out infinite;
}

.dark .custom-loader:after {
  box-shadow: 0 5px 0 rgba(255, 255, 255, 0.1), -35px 50px 0 rgba(255, 255, 255, 0.1), -70px 95px 0 rgba(255, 255, 255, 0.1);
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7); }
  40% { transform: scale(0.8, 1.2); }
  60% { transform: scale(1, 1); }
  100% { bottom: 100px; }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #3b82f644,
            -35px 50px 0 #3b82f644,
            -70px 90px 0 #3b82f644;
  }
  100% {
    box-shadow: 0 10px 0 #3b82f644,
            -35px 50px 0 #3b82f644,
            -70px 90px 0 #3b82f644,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
